/* START CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* END CSS Reset */
/* MIXINS */
html, body {
  padding: 0px;
  margin: 0px;
  height: 100%;
  width: 100%; }

body {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 14px;
  overflow: hidden; }

#overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: purple;
  transition: height 500ms ease;
  transition-delay: 500ms;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-around; }
  #overlay > div {
    height: 500px;
    background-color: #eee;
    height: 230px;
    width: 300px;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 0px 0px 20px #444; }
    #overlay > div h1 {
      text-align: center;
      font-size: 24px;
      margin: 15px 0px; }
    #overlay > div input[type="text"] {
      display: block;
      width: 80%;
      margin: 10px auto;
      height: 30px;
      padding-left: 10px; }
    #overlay > div .login_actions {
      display: flex;
      justify-content: space-around; }
    #overlay > div button {
      width: 40%;
      height: 40px; }
    #overlay > div .radios {
      display: flex;
      justify-content: space-around; }

#trade_overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center; }
  #trade_overlay > div {
    border-radius: 10px;
    height: 90%;
    width: 90%;
    opacity: 0.8;
    background-color: #eee; }
    #trade_overlay > div h2 {
      text-align: center;
      font-size: 16px;
      margin: 20px 0px; }
    #trade_overlay > div .trade_wants {
      display: flex;
      flex-direction: column;
      align-items: center; }
      #trade_overlay > div .trade_wants .trade_want {
        display: flex;
        justify-content: space-around;
        width: 300px;
        border-radius: 5px;
        margin: 10px 0px; }
        #trade_overlay > div .trade_wants .trade_want input {
          width: 100%;
          -moz-appearance: textfield; }
          #trade_overlay > div .trade_wants .trade_want input::-webkit-inner-spin-button {
            -webkit-appearance: none; }

#content {
  height: 100%;
  width: 100%;
  background-image: url("../assets/background.jpg");
  background-color: #eee;
  background-size: contain;
  position: relative; }
  #content .clickable {
    border: 5px dotted #ffff00; }
  #content .selected {
    border: 5px solid #00ff00; }
  #content .bold {
    font-weight: bold; }
  #content .infobar {
    height: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.2);
    margin-bottom: 5px;
    color: #fff;
    font-weight: bold; }
    #content .infobar .gameid {
      padding-left: 20px; }
    #content .infobar .name {
      padding-right: 20px; }
  #content .board {
    height: calc(65% - 35px);
    display: flex;
    justify-content: space-between; }
    #content .board .players {
      height: 100%;
      padding: 0px 20px;
      width: 160px;
      display: flex;
      flex-direction: column;
      justify-content: space-around; }
      #content .board .players .player {
        height: 80px;
        width: 160px;
        box-shadow: 0px 0px 5px;
        background-color: #ffff99;
        display: flex;
        flex-direction: row; }
        #content .board .players .player .info {
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          width: 110px; }
          #content .board .players .player .info .their_name {
            padding-left: 10px; }
          #content .board .players .player .info .their_fields {
            display: flex;
            justify-content: space-around; }
            #content .board .players .player .info .their_fields .their_field {
              display: flex;
              align-items: center;
              justify-content: space-around;
              height: 25px;
              width: 15px;
              border: 1px solid black; }
          #content .board .players .player .info .their_stats {
            display: flex;
            justify-content: space-around;
            height: 20px; }
            #content .board .players .player .info .their_stats .coin {
              display: flex;
              align-items: center;
              justify-content: space-around;
              height: 100%;
              width: 20px;
              background-color: #F2CF59;
              border: 1px solid #D9AB07;
              border-radius: 10px; }
            #content .board .players .player .info .their_stats .hand {
              display: flex;
              align-items: center;
              justify-content: space-around;
              height: 100%;
              width: 15px;
              background-color: #ccc;
              border: 1px solid black;
              border-radius: 2px; }
            #content .board .players .player .info .their_stats .host {
              display: flex;
              align-items: center;
              justify-content: space-around;
              height: 100%;
              width: 20px; }
        #content .board .players .player .trade_icon {
          width: 50px;
          border-left: 1px solid black;
          border-right: 1px solid black;
          background-color: #ccc; }
          #content .board .players .player .trade_icon:hover {
            cursor: pointer; }
    #content .board .playable_area {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      height: 100%;
      width: calc(100% - 300px); }
      #content .board .playable_area .public_area {
        height: 50%;
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center; }
        #content .board .playable_area .public_area > div > div {
          width: 230px;
          height: 130px; }
        #content .board .playable_area .public_area .deck_area .deck {
          background-image: url("../assets/card_back.png");
          display: flex;
          align-items: center;
          justify-content: space-around;
          flex-direction: column; }
          #content .board .playable_area .public_area .deck_area .deck span {
            font-weight: bold;
            font-size: 18px; }
        #content .board .playable_area .public_area .deck_area .discard {
          background-image: url("../assets/discard.png");
          background-color: #ddd;
          border-radius: 5px;
          box-shadow: 0px 0px 5px;
          display: flex;
          align-items: center;
          justify-content: space-around; }
        #content .board .playable_area .public_area .deck_area .instructions {
          font-size: 14px;
          color: #fff; }
      #content .board .playable_area .personal_area {
        height: 45%;
        width: 100%;
        margin: 2.5% 0px;
        display: flex;
        align-items: center;
        justify-content: space-around; }
        #content .board .playable_area .personal_area .my_fields {
          width: 300px;
          height: 130px; }
          #content .board .playable_area .personal_area .my_fields .instructions {
            display: block;
            margin: 0px 20px; }
            #content .board .playable_area .personal_area .my_fields .instructions div {
              font-size: 18px;
              color: #fff;
              margin-bottom: 20px; }
        #content .board .playable_area .personal_area .game_stats {
          color: #ddd;
          width: 25%;
          height: 100%;
          background-color: rgba(0, 0, 0, 0.2); }
          #content .board .playable_area .personal_area .game_stats .header {
            text-align: center;
            font-weight: bold;
            margin-top: 5px;
            height: 28px; }
          #content .board .playable_area .personal_area .game_stats .trades {
            height: calc(100% - 33px);
            overflow-y: auto; }
            #content .board .playable_area .personal_area .game_stats .trades .trade_card {
              margin-left: 5px; }
            #content .board .playable_area .personal_area .game_stats .trades .trade_action {
              display: inline-block;
              margin-top: 5px;
              text-decoration: underline; }
              #content .board .playable_area .personal_area .game_stats .trades .trade_action:hover {
                cursor: pointer; }
      #content .board .playable_area .stack_area {
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.2);
        font-size: 12px; }
        #content .board .playable_area .stack_area .card_stack {
          background-color: #ddd;
          border-radius: 5px;
          box-shadow: 0px 0px 5px;
          text-align: center;
          height: 105px;
          width: 70px; }
          #content .board .playable_area .stack_area .card_stack:hover {
            cursor: pointer; }
          #content .board .playable_area .stack_area .card_stack .name {
            margin: 5px 0px; }
          #content .board .playable_area .stack_area .card_stack .card_image {
            height: 50px;
            width: 70px; }
          #content .board .playable_area .stack_area .card_stack .values {
            display: flex;
            justify-content: space-between;
            height: 14px; }
            #content .board .playable_area .stack_area .card_stack .values > span {
              display: inline-block;
              width: 17px;
              font-size: 12px; }
          #content .board .playable_area .stack_area .card_stack .coins {
            width: 100%;
            height: 14px; }
          #content .board .playable_area .stack_area .card_stack .count {
            color: #fff;
            margin-top: 5px; }
  #content .hand {
    height: 35%;
    display: flex;
    flex-direction: column-reverse; }
    #content .hand > div {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      overflow-x: auto;
      padding: 20px 0px;
      background-color: rgba(0, 0, 0, 0.2); }
      #content .hand > div .card {
        background-color: #ddd;
        border-radius: 5px;
        box-shadow: 0px 0px 5px;
        height: 150px;
        width: 100px;
        margin: 0px 15px;
        flex: 0 0 auto;
        text-align: center;
        font-size: 14px; }
        #content .hand > div .card:hover {
          cursor: pointer; }
        #content .hand > div .card .card_name {
          height: 20px;
          padding: 5px 0px; }
        #content .hand > div .card .card_image {
          height: 75px;
          width: 100px; }
        #content .hand > div .card .values {
          display: flex;
          justify-content: space-around; }
          #content .hand > div .card .values > span {
            display: inline-block;
            width: 20px; }
  #content .endgame {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100%; }
    #content .endgame div {
      background-color: #ccc;
      border-radius: 10%; }
    #content .endgame div > div:nth-child(1) {
      font-size: 18px;
      padding: 50px; }
    #content .endgame div > div:nth-child(2) {
      font-size: 24px;
      color: #ff0000;
      text-align: center;
      padding: 0px 50px 50px 50px; }

/*# sourceMappingURL=tbg.css.map */
