/* START CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* END CSS Reset */

/* MIXINS */
@mixin flex_center{
    display:flex;
    align-items: center;
    justify-content: space-around;
}
@mixin card_shape{
    background-color:#ddd;
    border-radius: 5px;
    box-shadow: 0px 0px 5px;
}
@mixin dark_backdrop{
    background-color:rgba(0, 0, 0, 0.2);
}

html, body{
    padding:0px;
    margin:0px;
    height:100%;
    width:100%;
    // height:540px;
    // width:960px;
}
body{
    @include flex_center;
    font-size:14px;
    overflow:hidden;
}
#overlay{
    position:absolute;
    top:0;
    left:0;
    height:100%;
    width:100%;
    background-color:purple;
    transition: height 500ms ease;
    transition-delay: 500ms;
    overflow:hidden;
    @include flex_center;
    &>div{
        height:500px;
        background-color: #eee;
        height: 230px;
        width: 300px;
        overflow: hidden;
        border-radius: 5px;
        box-shadow: 0px 0px 20px #444; 
        h1{
            text-align: center;
            font-size:24px;
            margin:15px 0px;
        }
        input[type="text"]{
            display:block;
            width:80%;
            margin: 10px auto;
            height:30px;
            padding-left:10px;
        }
        .login_actions{
            display:flex;
            justify-content: space-around;
        }
        button{
            width:40%;
            height:40px;
        }
        .radios{
            display:flex;
            justify-content: space-around;
        }
    }
}
#trade_overlay{
    position:absolute;
    top:0;
    left:0;
    height:100%;
    width:100%;
    background-color:rgba(0, 0, 0, 0.8);
    display:flex;
    align-items: center;
    justify-content: center;
    &>div{
        border-radius: 10px;
        height:90%;
        width:90%;
        opacity: 0.8;
        background-color:#eee;
        h2{
            text-align: center;
            font-size: 16px;
            margin:20px 0px;
        }
        .trade_wants{
            display:flex;
            flex-direction: column;
            align-items: center;
            .trade_want{
                display:flex;
                justify-content: space-around;
                width:300px;
                border-radius:5px;
                margin:10px 0px;
                input{
                    width:100%;
                    -moz-appearance: textfield;
                    &::-webkit-inner-spin-button {
                        -webkit-appearance: none;
                    }
                }
            }  
        }
    }
}
#content{
    height:100%;
    width:100%;
    background-image: url('../assets/background.jpg');
    background-color: #eee;
    background-size: contain;
    position:relative;
    .clickable{
        border: 5px dotted #ffff00;
    }
    .selected{
        border: 5px solid #00ff00;
    }
    .bold{
        font-weight:bold;
    }
    .infobar{
        height:30px;
        display:flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        @include dark_backdrop;
        margin-bottom:5px;
        color:#fff;
        font-weight: bold;
        .gameid{

            padding-left:20px;
        }
        .name{
            padding-right:20px;
        }
    }
    .board{
        height:calc(65% - 35px);
        display:flex;
        justify-content:space-between;

        .players{
            height:100%;
            padding:0px 20px;
            width:160px;
            display:flex;
            flex-direction: column;
            justify-content: space-around;
            .player{
                height:80px;
                width:160px;
                box-shadow: 0px 0px 5px;
                background-color:#ffff99;
                display:flex;
                flex-direction:row;
                .info{
                    display:flex;
                    flex-direction: column;
                    justify-content: space-around;
                    width:110px;
                    .their_name{
                        padding-left:10px;
                    }
                    .their_fields{
                        display:flex;
                        justify-content:space-around;
                        .their_field{
                            @include flex_center;
                            height:25px;
                            width:15px;
                            border: 1px solid black;
                        }
                    }
                    .their_stats{
                        display:flex;
                        justify-content:space-around;
                        height:20px;
                        .coin{
                            @include flex_center;
                            height:100%;
                            width:20px;
                            background-color:#F2CF59;
                            border:1px solid #D9AB07;
                            border-radius: 10px;
                        }
                        .hand{
                            @include flex_center;
                            height:100%;
                            width:15px;
                            background-color:#ccc;
                            border:1px solid black;
                            border-radius: 2px;
                        }
                        .host{
                            @include flex_center;
                            height:100%;
                            width:20px;
                        }
                    }
                }
                .trade_icon{
                    width:50px;
                    border-left:1px solid black;
                    border-right:1px solid black;
                    background-color:#ccc;
                    &:hover{
                        cursor:pointer;
                    }
                }

            }
        }
        .playable_area{
            display:flex;
            flex-direction: column;
            justify-content: space-around;
            height:100%;
            width:calc(100% - 300px);
            .public_area{
                height:50%;
                width:100%;
                display:flex;
                justify-content: space-around;
                align-items: center;
                &>div>div{
                    width: 230px;
                    height: 130px;
                }
                .deck_area{
                    .deck{
                        background-image: url('../assets/card_back.png');
                        span{
                            font-weight: bold;
                            font-size:18px;
                        }
                        @include flex_center;
                        flex-direction: column;
                    }
                    .discard{
                        background-image: url('../assets/discard.png');
                        @include card_shape;
                        @include flex_center;

                    }
                    .instructions{
                        font-size: 14px;
                        color: #fff;
                    }
                }
            }
            .personal_area{
                height:45%;
                width:100%;
                margin: 2.5% 0px;
                @include flex_center;
                .my_fields{
                    width: 300px;
                    height: 130px;
                    .instructions{
                        display:block;
                        margin: 0px 20px;
                        div{
                            font-size: 18px;
                            color: #fff;
                            margin-bottom:20px;
                        }
                    }
                }
                .game_stats{
                    color:#ddd;
                    width: 25%;
                    height: 100%;
                    @include dark_backdrop;
                    .header{
                        text-align:center;
                        font-weight: bold;
                        margin-top:5px;
                        height: 28px
                    }
                    .trades{
                        height:calc(100% - 33px);
                        overflow-y: auto;
                        .trade_card{
                            margin-left:5px;
                        }
                        .trade_action{
                            display:inline-block;
                            margin-top:5px;
                            text-decoration: underline;
                            &:hover{
                                cursor:pointer;
                            }
                        }
                    }
                }
            }
            .stack_area{
                display:flex;
                justify-content: space-around;
                align-items:center;
                @include dark_backdrop();
                font-size:12px;
                .card_stack{
                    @include card_shape;
                    text-align: center;
                    &:hover{
                        cursor:pointer;
                    }
                    height:105px;
                    width:70px;
                    .name{
                        margin: 5px 0px;
                    }
                    .card_image{
                        height:50px;
                        width:70px;
                    }
                    .values{
                        display:flex;
                        justify-content: space-between;
                        &>span{
                            display:inline-block;
                            width:17px;
                            font-size:12px;
                        }
                        height:14px;
                    }
                    .coins{
                        width:100%;
                        height:14px;
                    }
                    .count{
                        color:#fff;
                        margin-top:5px;
                    }
                }
            }
        }
    }
    .hand{
        height:35%;
        display:flex;
        flex-direction:column-reverse;
        &>div{
            display:flex;
            align-items: center;
            justify-content: flex-start;
            overflow-x: auto;
            padding:20px 0px;
            @include dark_backdrop();
            .card{
                @include card_shape;
                &:hover{
                    cursor:pointer;
                }
                height:150px;
                width:100px;
                margin: 0px 15px;
                flex:0 0 auto;
                text-align: center;
                font-size:14px;
                .card_name{
                    height:20px;
                    padding:5px 0px;
                }
                .card_image{
                    height: 75px;
                    width: 100px;
                }
                .values{
                    display:flex;
                    justify-content: space-around;
                    &>span{
                        display:inline-block;
                        width:20px;
                    }
                }
            }
        }

    }
    .endgame{
        @include flex_center;
        height:100%;
        div{
            background-color: #ccc;
            border-radius: 10%;
        }
        div>div:nth-child(1){
            font-size:18px;
            padding:50px;
        }
        div>div:nth-child(2){
            font-size:24px;
            color: #ff0000;
            text-align: center;
            padding: 0px 50px 50px 50px
        }
    }
}





