/* START CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* END CSS Reset */

/* MIXINS */
@mixin flex_center{
    display:flex;
    align-items: center;
    justify-content: space-around;
}
@mixin card_shape{
    background-color:#ddd;
    border-radius: 5px;
    box-shadow: 0px 0px 5px;
}
@mixin dark_backdrop{
    background-color:rgba(0, 0, 0, 0.2);
}

html, body{
    padding:0px;
    margin:0px;
    height:100%;
    width:100%;
    height:480px;
    width:960px;
}
body{
    @include flex_center;
    font-size:14px;
}
#overlay{
    position: absolute;
    height:100%;
    width:100%;
    background-color:purple;
    transition: height 500ms ease;
    transition-delay: 500ms;
    overflow:hidden;
    @include flex_center;
    &>div{
        height:500px;
        background-color: #eee;
        height: 230px;
        width: 300px;
        overflow: hidden;
        border-radius: 5px;
        box-shadow: 0px 0px 20px #444; 
        h1{
            text-align: center;
            font-size:24px;
            margin:15px 0px;
        }
        input[type="text"]{
            display:block;
            width:80%;
            margin: 10px auto;
            height:30px;
            padding-left:10px;
        }
        .login_actions{
            display:flex;
            justify-content: space-around;
        }
        button{
            width:40%;
            height:40px;
        }
        .radios{
            display:flex;
            justify-content: space-around;
        }
    }
}
#content{
    height: 540px;
    width: 960px;
    height:100%;
    width:100%;
    background-image: url('../assets/background.jpg');
    background-color: #eee;
    background-size: contain;
    .clickable{
        border: 5px dotted #ffff00;
    }
    .infobar{
        height:30px;
        display:flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        @include dark_backdrop;
        margin-bottom:5px;
        color:#fff;
        font-weight: bold;
        .gameid{

            padding-left:20px;
        }
        .name{
            padding-right:20px;
        }
    }
    .board{
        height:calc(65% - 35px);
        display:flex;
        justify-content:space-between;

        .players{
            height:100%;
            padding:10px 20px;
            box-sizing:border-box;
            width:150px;
            display:flex;
            flex-direction: column;
            justify-content: space-around;
            .player{
                height:80px;
                width:110px;
                box-shadow: 0px 0px 5px;
                background-color:#ffff99;
                display:flex;
                flex-direction: column;
                justify-content: space-around;
                .their_name{
                    padding-left:10px;
                }
                .their_fields{
                    display:flex;
                    justify-content:space-around;
                    .their_field{
                        @include flex_center;
                        height:25px;
                        width:15px;
                        border: 1px solid black;
                    }
                }
                .their_stats{
                    display:flex;
                    justify-content:space-around;
                    height:20px;
                    .coin{
                        @include flex_center;
                        height:100%;
                        width:20px;
                        background-color:#F2CF59;
                        border:1px solid #D9AB07;
                        border-radius: 10px;
                    }
                    .hand{
                        @include flex_center;
                        height:100%;
                        width:15px;
                        background-color:#ccc;
                        border:1px solid black;
                        border-radius: 2px;
                    }
                    .host{
                        @include flex_center;
                        height:100%;
                        width:20px;
                    }
                }
            }
        }
        .playable_area{
            display:flex;
            flex-direction: column;
            justify-content: space-around;
            height:100%;
            width:calc(100% - 300px);
            .public_area{
                height:50%;
                width:100%;
                display:flex;
                justify-content: space-around;
                align-items: center;
                &>div{
                    width: 230px;
                    height: 130px;
                }
                .deck_area{
                    .deck{
                        background-image: url('../assets/card_back.png');
                        span{
                            font-weight: bold;
                            font-size:18px;
                        }
                        @include flex_center;
                        flex-direction: column;
                    }
                    .discard{
                        background-image: url('../assets/discard.png');
                        @include card_shape;
                        @include flex_center;

                    }
                    .card_stack{
                    }
                }
            }
            .personal_area{
                height:50%;
                width:100%;
                @include flex_center;
                .my_fields{
                    width: 300px;
                    height: 120px;
                }
                .game_stats{
                    color:#ddd;
                    width: 160px;
                    height: 120px;
                    @include dark_backdrop;
                    button{
                        width:100%;
                    }
                }
            }
            .stack_area{
                display:flex;
                justify-content: space-around;
                align-items:center;
                @include dark_backdrop();
                font-size:12px;
                .card_stack{
                    @include card_shape;
                    text-align: center;
                    &:hover{
                        cursor:pointer;
                    }
                    height:105px;
                    width:70px;
                    .name{
                        margin: 5px 0px;
                    }
                    .card_image{
                        height:50px;
                        width:70px;
                    }
                    .values{
                        display:flex;
                        justify-content: space-between;
                        &>span{
                            display:inline-block;
                            width:17px;
                            font-size:12px;
                        }
                        height:14px;
                    }
                    .coins{
                        width:100%;
                        height:14px;
                    }
                    .count{
                        color:#fff;
                        margin-top:5px;
                    }
                }
            }
        }
    }
    .hand{
        height:35%;
        display:flex;
        align-items: center;
        justify-content: flex-start;
        overflow-x: auto;
        @include dark_backdrop();
        .card{
            @include card_shape;
            &:hover{
                cursor:pointer;
            }
            height:150px;
            width:100px;
            margin: 0px 15px;
            flex:0 0 auto;
            text-align: center;
            font-size:14px;
            .card_name{
                height:20px;
                padding:5px 0px;
            }
            .card_image{
                height: 75px;
                width: 100px;
            }
            .values{
                display:flex;
                justify-content: space-around;
                &>span{
                    display:inline-block;
                    width:20px;
                }
            }
        }
    }
}





