<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://unpkg.com/vue/dist/vue.min.js"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <link rel="stylesheet" href="https://necolas.github.io/normalize.css/7.0.0/normalize.css">
        <link rel="stylesheet" href="css/tbg.css">
    </head>
    <body>
        <div id="content">
            <div id="overlay">
                <div>
                    <h1>ThatBeanGame</h1>
                    <div class="radios">
                        <span>
                            <input type="radio" name="game_type" value="public" v-model="game_state.game_type">Public
                        </span>
                        <span>
                            <input type="radio" name="game_type" value="private" v-model="game_state.game_type">Private
                        </span>
                    </div>
                    <input v-model="player_state.name" type="text" placeholder="Username"></input>
                    <input v-model="game_state.game_id" type="text" placeholder="Game ID (Optional)"></input>
                    <div class="login_actions">
                        <button v-on:click="createGame">Create Game</button>
                        <button v-on:click="joinGame">Join Game</button>
                    </div>
                    
                </div>
            </div>
            <div class="infobar">
                <span class="gameid">
                    {{game_state.game_id}} 
                    ({{game_state.status}})
                    <span v-if="game_state.status == 'Awaiting'">
                        <button v-on:click="startGame" v-if="game.host == player_state.name">Start Game</button>
                        <span v-else>Awaiting {{game.host}}...</span>
                    </span>      
                    <button v-on:click="exitGame">Exit</button>
                </span>
                <span>{{game_state.current_player}}'s turn</span>
                <span class="name">{{player_state.name}}</span>
            </div>
            <div class="board">
                <div class="players">
                    <div class="player" v-for="player in game_state.players.slice(0,3)">
                        <div class="their_name">{{player.name}}</div>
                        <div class="their_fields">
                            <div 
                                :class="'enab-'+field.enabled + ' ' + field.name + ' their_field'"
                                v-for="field in player.fields">
                                {{field.count}}
                            </div>
                        </div>
                        <div class="their_stats">
                            <span class="coin">{{player.coins}}</span>
                            <span class="hand">{{player.hand_count}}</span>
                            <span class="host"><template v-if="player.is_host">H</template></span>
                        </div>
                    </div>
                </div>
                <div class="playable_area">
                    <div class="public_area">
                        <div class="stack_area deck_area">
                            <div class="card_stack deck" :class="isClickable('deck')" v-on:click="useDeck()">
                                <span>{{game_state.deck_count}}</span>
                                ({{prettyPlaythrough}})
                            </div>
                            <div class="card_stack discard">{{game_state.discard_count}}</div>
                        </div>
                        <div class="stack_area market_area">
                            <div class="card_stack" :class="isClickable('market')" v-on:click="selectCard('market', card)" v-for="card in game_state.market">
                                <div class="name">{{card.name.slice(0, -5)}}</div>
                                <img class="card_image" :src="card.img" />
                                <img class="coins" src="assets/coins.png"/>
                                <div class="values"><span v-for="value in card.values">{{value}}</span></div>
                            </div>
                        </div>
                    </div>
                    <div class="personal_area">
                        <div class="my_fields stack_area">
                            <div class="my_field card_stack" 
                                :class="isClickable('field', field.enabled)"
                                v-on:click="addSelectedCardToField(index)"
                                v-for="(field, index) in player_state.fields">
                                <div v-if="field.enabled && field.count!=0">
                                    <div class="name">{{field.name.slice(0, -5)}} ({{field.count}})</div>
                                    <img class="card_image" :src="field.img" />
                                    <img class="coins" src="assets/coins.png"/>
                                    <div class="values"><span v-for="value in field.values">{{value}}</span></div>
                                </div>
                                <div v-if="index==2 && field.enabled==false && player_state.coins >= 3">
                                    <button v-on:click="buyThirdField()">Buy Field</button>
                                </div>
                            </div>
                        </div>
                        <div class="game_stats">
                            <div v-if="game_state.status == 'Awaiting'">
                                <button v-if="game.host == player_state.name">Start Game</button>
                                <div v-else>Awaiting {{game.host}}...</div>
                            </div>
                            <button v-if="!trade_selection" v-on:click="trade_selection_on = true">Create Trade</button>
                            <button v-if="trade_selection" v-onclick="submitTrade">Submit Trade</button>
                            <button v-if="trade_selection" v-onclick="trade_selection_on = false">Cancel Trade</button>
                        </div>
                    </div>
                </div>
                <div class="players">
                    <div class="player" v-for="player in game_state.players.slice(3,6)">
                        <div class="their_name">{{player.name}}</div>
                        <div class="their_fields">
                            <div class="their_field'"
                                v-for="field in player.fields">
                                {{field.count}}
                            </div>
                        </div>
                        <div class="their_stats">
                            <span class="coin">{{player.coins}}</span>
                            <span class="hand">{{player.hand_count}}</span>
                            <span class="host"><template v-if="player.is_host">H</template></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hand">
                <div class="card" :class="isClickable('hand', index)" v-on:click="selectCard('hand', card)" v-for="(card, index) in player_state.hand">
                    <div class="card_name">{{card.name}}</div>
                    <img class="card_image" :src="card.img" />
                    <img src="assets/coins.png"/>
                    <div class="values"><span v-for="value in card.values">{{value}}</span></div>
                </div>
            </div>
        </div>
    </body>
    <script src="js/tbg.js"></script>
</html>